@{
 //   ViewBag.Title = "Web Modeling";
}
@section scripts {
    <script type="text/javascript" src="~/Scripts/mine/angularModules.js"></script>
    <script type="text/javascript" src="~/Scripts/mine/allPlantService.js"></script>
    <script type="text/javascript" src="~/Scripts/mine/allPlantController.js"></script>
    <script type="text/javascript" src="~/Scripts/mine/librariesService.js"></script>
    <script type="text/javascript" src="~/Scripts/mine/librariesController.js"></script>
    <script type="text/javascript">
        angular.bootstrap(document.getElementById("all-plants-form"), ['allPlants']);
    </script>
}
@section styles {
    <link rel="stylesheet" href="~/Content/Mine/all-plants.css"/>
}
<header>
    <a href="#" id="showplants">Plants</a>
</header>

<main>
    <section id="librariesSection" ng-app="libraries" ng-controller="librariesController">
        <div id="librariesHeader" class="twoEndRow"><h3 class="twoEndLeft">Libraries</h3><div class="twoEndRight centarContainer"><button ng-click="createLibrary()" class="smallButton">+</button></div></div>
        <div id="libraryList">
            <h3 ng-repeat-start="library in libraries"><button ng-click="deleteLibrary(library.Id)">&#x2718</button>{{library.Name}}</h3>
            <div ng-repeat-end class="librayContainer">
                <div ng-repeat="item in library.Items" class="libraryItem">
                    <img src="{{item.Icon}}" class="modelTypeIcon" />
                    <div>{{item.Name}}</div>
                </div>
            </div>
        </div>
    </section>
    <section id="flowsheets">zxC</section>
    <section id="trees">XZVC</section>
</main>

<footer>
    czxv
</footer>

<div id="all-plants-form" title="All Plants" ng-app="allPlants">
    <form ng-controller="AllPlantController">
        <table class="all-plants">
            <thead>
                <tr><th>Name</th><th>Creator</th><th>Created Time</th><th>Description</th><th></th></tr>
            </thead>
            <tr ng-repeat="s in plants">
                <td><input type="text" ng-model="s.Name" ng-change="updatePlant(s.Id)"/></td>
                <td>{{s.Creator}}</td>
                <td>{{s.CreateDatetime}}</td>
                <td><input type="text" ng-model="s.Description" ng-change="updatePlant(s.Id)" /></td>
                <td><button ng-click="deletePlant(s.Id)">&#x2718</button></td>
            </tr>
        </table>
        <fieldset>
            <legend></legend>
            <input type="button" value="createPlant" ng-click="createPlant()" />
        </fieldset>
    </form>
</div>
