@{
 //   ViewBag.Title = "Web Modeling";
}
@section scripts {
    <script type="text/javascript" src="~/Scripts/mine/angularModules.js"></script>
    <script type="text/javascript" src="~/Scripts/mine/allPlantService.js"></script>
    <script type="text/javascript" src="~/Scripts/mine/allPlantController.js"></script>
    <script type="text/javascript" src="~/Scripts/mine/librariesService.js"></script>
    <script type="text/javascript" src="~/Scripts/mine/librariesController.js"></script>
    <script type="text/javascript">
        angular.bootstrap(document.getElementById("all-plants-form"), ['allPlants']);
    </script>
}
@section styles {
    <link rel="stylesheet" href="~/Content/Mine/all-plants.css" />
}
<header>
    <a href="#" id="showplants">Plants</a>
</header>

<main>
    <section id="librariesSection" ng-app="libraries" ng-controller="librariesController">
        <div id="librariesHeader"><h3>Libraries <span class="badge pull-right" ng-click="createLibrary()">+</span></h3></div>
        <div id="libraryList">
            <h3 ng-repeat-start="library in libraries">{{library.Name}} <span class="badge pull-right" ng-click="deleteLibrary(library.Id)">&#x2718</span></h3>
            <div ng-repeat-end class="librayContainer">
                <div ng-repeat="item in library.Items" ng-dblclick="editLibraryItem(library, item)" class="libraryItem">
                    <img src="{{item.Icon}}" class="modelTypeIcon" />
                    <div>{{item.Name}}</div>
                </div>
                <div class="dropdown" style="max-height: 30px">

                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                        +
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="addFluid(library.Id)">Fluid</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="addPort(library.Id)">Port</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="addModel(library.Id)">Model</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="fluidEditor" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Fluid</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="fluidName" class="control-label col-xs-2">Name</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" id="fluidName" placeholder="Name" ng-model="currentFluid.Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fluidDescription" class="control-label col-xs-2">Description</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" id="fluidDescription" placeholder="Description" ng-model="currentFluid.Description">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="thermoType" class="control-label col-xs-2">Thermo Type</label>
                                <div class="col-xs-10">
                                    <select class="form-control" id="fluidDescription" ng-model="currentFluid.ThermoType">
                                        <option>Air</option>
                                        <option>Steam</option>
                                        <option>Water</option>
                                        <option>Compositional</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Starting Values</h1>
                            </div>
                            <div class="panel-body form-horizontal">
                                <div class="form-group">
                                    <label for="fluidPressure" class="control-label col-xs-2">Pressure</label>
                                    <div class="col-xs-9">
                                        <input type="number" class="form-control" id="fluidPressure" placeholder="Pressure" ng-model="currentFluid.StartingPressureValue">
                                    </div>
                                    <div class="col-xs-1">
                                        kPa
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fluidTemprature" class="control-label col-xs-2">Temprature</label>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="fluidTemprature" placeholder="Temprature" ng-model="currentFluid.StartingTemprature">
                                    </div>
                                    <div class="col-xs-1">
                                        K
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Methods</h1>
                            </div>
                            <div class="panel-body form-horizontal">
                                <div class="form-group">
                                    <label for="systemMethod" class="control-label col-xs-2">System</label>
                                    <div class="col-xs-10">
                                        <select class="form-control" id="systemMethod" ng-model="currentFluid.SystemMethod">
                                            <option>Soave-Redlich-Kwong (SRK)</option>
                                            <option>Peng-Robinson (PR)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phaseMethod" class="control-label col-xs-2">Phase</label>
                                    <div class="col-xs-10">
                                        <select class="form-control" id="phaseMethod" ng-model="currentFluid.PhaseMethod">
                                            <option>Vapor</option>
                                            <option>Liquid</option>
                                            <option>Vapor/Liquid (VLE)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="liquidDensityMethod" class="control-label col-xs-2">Liquid Density</label>
                                    <div class="col-xs-10">
                                        <select class="form-control" id="liquidDensityMethod" ng-model="currentFluid.LiquidDensityMethod">
                                            <option>API</option>
                                            <option>Use System method</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Components <span class="badge pull-right" ng-click="addFluidComponent(currentFluid)">+</span></h1>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Components</th>
                                            <th>Starting Composition</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="component in currentFluid.FluidComponents">
                                            <td><span class="badge" ng-click="deleteFluidComponent(currentFluid, $index)">&#x2718</span></td>
                                            <td>{{component.ShortName}}</td>
                                            <td>{{component.FullName}} <span class="caret"></span></td>
                                            <td><input type="number" ng-model="component.StartingPercentage" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Icon</h1>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="portEditor" class="modal fade">
            <div class="modal-dialog" style="width: 1100px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Port</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="portName" class="control-label col-xs-2">Name</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" id="portName" placeholder="Name" ng-model="currentPort.Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="portDescription" class="control-label col-xs-2">Description</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" id="portDescription" placeholder="Description" ng-model="currentPort.Description">
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Parameters <span class="badge pull-right" ng-click="addPortParameter(currentPort)">+</span></h1>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Require User Provide Value</th>
                                            <th>Min</th>
                                            <th>Max</th>
                                            <th>Default</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="parameter in currentPort.Parameters">
                                            <td><span class="badge" ng-click="deletePortParameter(currentPort, $index)">&#x2718</span></td>
                                            <td><input type="text" ng-model="parameter.Name" /></td>
                                            <td>
                                                <ul class="nav nav-pills">
                                                    <li class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                            {{parameter.ParameterTypeName}}
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#" ng-click="updatePortParameterType(parameter, 'Fluid')">Fluid</a></li>
                                                            <li class="dropdown-submenu" disabled ng-repeat="variableCategory in variableTypes">
                                                                <a href="#">{{variableCategory.Name}}</a>
                                                                <ul class="dropdown-menu">
                                                                    <li ng-repeat="variableType in variableCategory.VariableTypes"><a href="#" ng-click="updatePortParameterType(parameter, variableType.Name)">{{variableType.Name}}</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td><input type="checkbox" ng-model="parameter.RequireUserToProvideInitialValue" /></td>
                                            <td><input type="number" ng-model="parameter.OverridenMin" /></td>
                                            <td><input type="number" ng-model="parameter.OverridenMax" /></td>
                                            <td><input type="number" ng-model="parameter.OverridenDefaultValue" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Variables <span class="badge pull-right" ng-click="addPortVariable(currentPort)">+</span></h1>
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Require User Provide Value</th>
                                            <th>Fixed</th>
                                            <th>Min</th>
                                            <th>Max</th>
                                            <th>Default</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="variable in currentPort.Variables">
                                            <td><span class="badge" ng-click="deletePortVariable(currentPort, $index)">&#x2718</span></td>
                                            <td><input type="text" ng-model="variable.Name" /></td>
                                            <td>
                                                <ul class="nav nav-pills">
                                                    <li class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                            {{variable.VariableTypeName}}
                                                        </a>
                                                        <ul class="dropdown-menu" >
                                                            <li class="dropdown-submenu" disabled ng-repeat="variableCategory in variableTypes">
                                                                <a href="#">{{variableCategory.Name}}</a>
                                                                <ul class="dropdown-menu">
                                                                    <li ng-repeat="variableType in variableCategory.VariableTypes"><a href="#" ng-click="updatePortVariableType(variable, variableType.Name)">{{variableType.Name}}</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td><input type="checkbox" ng-model="variable.RequireUserToProvideInitialValue" /></td>
                                            <td><input type="checkbox" ng-model="variable.IsFixedValue" /></td>
                                            <td><input type="number" ng-model="variable.OverridenMin" /></td>
                                            <td><input type="number" ng-model="variable.OverridenMax" /></td>
                                            <td><input type="number" ng-model="variable.OverridenDefaultValue" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modelEditor" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Model</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="modelName" class="control-label col-xs-2">Name</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" id="modelName" placeholder="Name" value="{{currentModel.Name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="modelDescription" class="control-label col-xs-2">Description</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" id="modelDescription" placeholder="Description" value="{{currentModel.Description}}">
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Ports <span class="badge pull-right" ng-click="addPort()">+</span></h1>
                            </div>
                            <div class="panel-body">Port content…</div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Parameters <span class="badge pull-right" ng-click="addParameter()">+</span></h1>
                            </div>
                            <div class="panel-body">Parameter content…</div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Conditions <span class="badge pull-right" ng-click="addCondition()">+</span></h1>
                            </div>
                            <div class="panel-body">Condition content…</div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Variables <span class="badge pull-right" ng-click="addVariable()">+</span></h1>
                            </div>
                            <div class="panel-body">Variable content…</div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Sub models <span class="badge pull-right" ng-click="addSubModel()">+</span></h1>
                            </div>
                            <div class="panel-body">Sub model content…</div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Externals <span class="badge pull-right" ng-click="addExternals()">+</span></h1>
                            </div>
                            <div class="panel-body">External content…</div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Parameter connections <span class="badge pull-right" ng-click="addParameterConnection()">+</span></h1>
                            </div>
                            <div class="panel-body">Parameter connection content…</div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Variable sharing <span class="badge pull-right" ng-click="addVariableSharing()">+</span></h1>
                            </div>
                            <div class="panel-body">Variable sharing content…</div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">Icon</h1>
                            </div>
                            <div class="panel-body">Icon content…</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="flowsheets">zxC</section>
    <section id="trees">XZVC</section>
</main>

<footer>
    czxv
</footer>

<div id="all-plants-form" title="All Plants" ng-app="allPlants">
    <form ng-controller="AllPlantController">
        <table class="all-plants">
            <thead>
                <tr><th>Name</th><th>Creator</th><th>Created Time</th><th>Description</th><th></th></tr>
            </thead>
            <tr ng-repeat="s in plants">
                <td><input type="text" ng-model="s.Name" ng-change="updatePlant(s.Id)" /></td>
                <td>{{s.Creator}}</td>
                <td>{{s.CreateDatetime}}</td>
                <td><input type="text" ng-model="s.Description" ng-change="updatePlant(s.Id)" /></td>
                <td><button ng-click="deletePlant(s.Id)">&#x2718</button></td>
            </tr>
        </table>
        <fieldset>
            <legend></legend>
            <input type="button" value="createPlant" ng-click="createPlant()" />
        </fieldset>
    </form>
</div>
