@{
 //   ViewBag.Title = "Web Modeling";
}
@section scripts {
    <script type="text/javascript" src="~/Scripts/mine/angularModules.js"></script>
    <script type="text/javascript" src="~/Scripts/mine/allPlantService.js"></script>
    <script type="text/javascript" src="~/Scripts/mine/allPlantController.js"></script>
    <script type="text/javascript" src="~/Scripts/mine/librariesFilter.js"></script>
    <script type="text/javascript" src="~/Scripts/mine/librariesService.js"></script>
    <script type="text/javascript" src="~/Scripts/mine/librariesController.js"></script>
    <script type="text/javascript">
        angular.bootstrap(document.getElementById("all-plants-form"), ['allPlants']);
    </script>
}
@section styles {
    <link rel="stylesheet" href="~/Content/Mine/all-plants.css" />
}
<header>
    <a href="#" id="showplants">Plants</a>
</header>

<main>
    <section id="librariesSection" ng-app="libraries" ng-controller="librariesController">
        <div id="librariesHeader"><h3>Libraries <span class="badge pull-right" ng-click="createLibrary()">+</span></h3></div>
        <div id="libraryList">
            <h3 ng-repeat-start="library in libraries">{{library.Name}} <span class="badge pull-right" ng-click="deleteLibrary(library.Id)">&#x2718</span></h3>
            <div ng-repeat-end class="librayContainer">
                <div ng-repeat="item in library.Items" ng-dblclick="editLibraryItem(library, item)" class="libraryItem">
                    <img src="{{item.Icon}}" class="modelTypeIcon" />
                    <div>{{item.Name}}</div>
                </div>
                <div class="dropdown" style="max-height: 30px">

                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                        +
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="addFluid(library.Id)">Fluid</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="addPort(library.Id)">Port</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="addModel(library.Id)">Model</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="fluidEditor" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Fluid</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="fluidName" class="control-label col-xs-2">Name</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" id="fluidName" placeholder="Name" ng-model="currentFluid.Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fluidDescription" class="control-label col-xs-2">Description</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" id="fluidDescription" placeholder="Description" ng-model="currentFluid.Description">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="thermoType" class="control-label col-xs-2">Thermo Type</label>
                                <div class="col-xs-10">
                                    <select class="form-control" id="fluidDescription" ng-model="currentFluid.ThermoType">
                                        <option>Air</option>
                                        <option>Steam</option>
                                        <option>Water</option>
                                        <option>Compositional</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title"><a data-toggle="collapse" href="#fluidStartingValuesPanel">Starting Values</a></h1>
                            </div>
                            <div id="fluidStartingValuesPanel" class="panel-body form-horizontal collapse">
                                <div class="form-group">
                                    <label for="fluidPressure" class="control-label col-xs-2">Pressure</label>
                                    <div class="col-xs-9">
                                        <input type="number" class="form-control" id="fluidPressure" placeholder="Pressure" ng-model="currentFluid.StartingPressureValue">
                                    </div>
                                    <div class="col-xs-1">
                                        kPa
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fluidTemprature" class="control-label col-xs-2">Temprature</label>
                                    <div class="col-xs-9">
                                        <input type="text" class="form-control" id="fluidTemprature" placeholder="Temprature" ng-model="currentFluid.StartingTemprature">
                                    </div>
                                    <div class="col-xs-1">
                                        K
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title"><a data-toggle="collapse" href="#fluidMethodsPanel">Methods</a></h1>
                            </div>
                            <div id="fluidMethodsPanel" class="panel-body form-horizontal collapse">
                                <div class="form-group">
                                    <label for="systemMethod" class="control-label col-xs-2">System</label>
                                    <div class="col-xs-10">
                                        <select class="form-control" id="systemMethod" ng-model="currentFluid.SystemMethod">
                                            <option>Soave-Redlich-Kwong (SRK)</option>
                                            <option>Peng-Robinson (PR)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phaseMethod" class="control-label col-xs-2">Phase</label>
                                    <div class="col-xs-10">
                                        <select class="form-control" id="phaseMethod" ng-model="currentFluid.PhaseMethod">
                                            <option>Vapor</option>
                                            <option>Liquid</option>
                                            <option>Vapor/Liquid (VLE)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="liquidDensityMethod" class="control-label col-xs-2">Liquid Density</label>
                                    <div class="col-xs-10">
                                        <select class="form-control" id="liquidDensityMethod" ng-model="currentFluid.LiquidDensityMethod">
                                            <option>API</option>
                                            <option>Use System method</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title"><a data-toggle="collapse" href="#fluidComponentsPanel">Components </a><span class="badge pull-right" ng-click="addFluidComponent(currentFluid)">+</span></h1>
                            </div>
                            <div id="fluidComponentsPanel" class="panel-body collapse">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Components</th>
                                            <th>Starting Composition</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="component in currentFluid.FluidComponents">
                                            <td><span class="badge" ng-click="deleteFluidComponent(currentFluid, $index)">&#x2718</span></td>
                                            <td>{{component.ShortName}}</td>
                                            <td>
                                                <ul class="nav nav-pills">
                                                    <li class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                            {{component.FullName}} <span class="caret"></span>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li class="dropdown-submenu" disabled ng-repeat="fluidComponentCategory in fluidComponentTypes">
                                                                <a href="#">{{fluidComponentCategory.Name}}</a>
                                                                <ul class="dropdown-menu">
                                                                    <li class="dropdown-submenu" disabled ng-repeat="subcategory in fluidComponentCategory.Subcategories">
                                                                        <a href="#">{{subcategory.Name}}</a>
                                                                        <ul class="dropdown-menu">
                                                                            <li ng-repeat="(key, value) in subcategory.FluidComponents">
                                                                                <a href="#" ng-click="setFluidComponentType(component, key, value)">{{value}}</a>
                                                                            </li>
                                                                        </ul>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td><input type="number" ng-model="component.StartingPercentage" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title"><a data-toggle="collapse" href="#fluidIconPanel">Icon</a></h1>
                            </div>
                            <div id="fluidIconPanel" class="panel-body collapse">
                                Icon content
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="portEditor" class="modal fade">
            <div class="modal-dialog" style="width: 1100px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Port</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="portName" class="control-label col-xs-2">Name</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" id="portName" placeholder="Name" ng-model="currentPort.Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="portDescription" class="control-label col-xs-2">Description</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" id="portDescription" placeholder="Description" ng-model="currentPort.Description">
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title"><a data-toggle="collapse" href="#portParametersPanel">Parameters </a><span class="badge pull-right" ng-click="addPortParameter(currentPort)">+</span></h1>
                            </div>
                            <div id="portParametersPanel" class="panel-body collapse">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Require User Provide Value</th>
                                            <th>Min</th>
                                            <th>Max</th>
                                            <th>Default</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="parameter in currentPort.Parameters">
                                            <td><span class="badge" ng-click="deletePortParameter(currentPort, $index)">&#x2718</span></td>
                                            <td><input type="text" ng-model="parameter.Name" /></td>
                                            <td>
                                                <ul class="nav nav-pills">
                                                    <li class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                            {{parameter.ParameterTypeName}}
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#" ng-click="updatePortParameterType(parameter, 'Fluid')">Fluid</a></li>
                                                            <li class="dropdown-submenu" disabled ng-repeat="variableCategory in variableTypes">
                                                                <a href="#">{{variableCategory.Name}}</a>
                                                                <ul class="dropdown-menu">
                                                                    <li ng-repeat="variableType in variableCategory.VariableTypes"><a href="#" ng-click="updatePortParameterType(parameter, variableType.Name)">{{variableType.Name}}</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td><input type="checkbox" ng-model="parameter.RequireUserToProvideInitialValue" /></td>
                                            <td><input type="number" ng-model="parameter.OverridenMin" /></td>
                                            <td><input type="number" ng-model="parameter.OverridenMax" /></td>
                                            <td><input type="number" ng-model="parameter.OverridenDefaultValue" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title"><a data-toggle="collapse" href="#portVariablesPanel">Variables </a><span class="badge pull-right" ng-click="addPortVariable(currentPort)">+</span></h1>
                            </div>
                            <div id="portVariablesPanel" class="panel-body collapse table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Require User Provide Value</th>
                                            <th>Fixed</th>
                                            <th>Min</th>
                                            <th>Max</th>
                                            <th>Default</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="variable in currentPort.Variables">
                                            <td><span class="badge" ng-click="deletePortVariable(currentPort, $index)">&#x2718</span></td>
                                            <td><input type="text" ng-model="variable.Name" /></td>
                                            <td>
                                                <ul class="nav nav-pills">
                                                    <li class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                            {{variable.VariableTypeName}}
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li class="dropdown-submenu" disabled ng-repeat="variableCategory in variableTypes">
                                                                <a href="#">{{variableCategory.Name}}</a>
                                                                <ul class="dropdown-menu">
                                                                    <li ng-repeat="variableType in variableCategory.VariableTypes"><a href="#" ng-click="updatePortVariableType(variable, variableType.Name)">{{variableType.Name}}</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td><input type="checkbox" ng-model="variable.RequireUserToProvideInitialValue" /></td>
                                            <td><input type="checkbox" ng-model="variable.IsFixedValue" /></td>
                                            <td><input type="number" ng-model="variable.OverridenMin" /></td>
                                            <td><input type="number" ng-model="variable.OverridenMax" /></td>
                                            <td><input type="number" ng-model="variable.OverridenDefaultValue" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modelEditor" class="modal fade">
            <div class="modal-dialog" style="width: 1100px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Model</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="modelName" class="control-label col-xs-2">Name</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" id="modelName" placeholder="Name" ng-model="currentModel.Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="modelDescription" class="control-label col-xs-2">Description</label>
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" id="modelDescription" placeholder="Description" ng-model="currentModel.Description">
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title">
                                    <a data-toggle="collapse" href="#portsPanel">Ports</a>
                                    <span class="badge pull-right" ng-click="addPortToModel(currentModel)">+</span>
                                </h1>
                            </div>
                            <div id="portsPanel" class="panel-body collapse">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Direction</th>
                                            <th>Source</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="port in currentModel.Ports">
                                            <td><span class="badge" ng-click="deletePortFromModel(currentModel, $index)">&#x2718</span></td>
                                            <td><input type="text" ng-model="port.Name" /></td>
                                            <td>
                                                <select ng-model="port.Direction">
                                                    <option>In</option>
                                                    <option>Out</option>
                                                </select>
                                            </td>
                                            <td>
                                                <ul class="nav nav-pills">
                                                    <li class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{port.PortTemplateName}} <span class="caret"></span></a>
                                                        <ul class="dropdown-menu">
                                                            <li class="dropdown-submenu" disabled ng-repeat="library in libraries | getPorts">
                                                                <a href="#">{{library.name}}</a>
                                                                <ul class="dropdown-menu">
                                                                    <li ng-repeat="portType in library.children"><a href="#" ng-click="updatePortSource(port, library.name, portType)">{{portType}}</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title"><a data-toggle="collapse" href="#parameterPanel">Parameters </a><span class="badge pull-right" ng-click="addPortParameter(currentModel)">+</span></h1>
                            </div>
                            <div id="parameterPanel" class="panel-body collapse">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Type</th>
                                            <th>Require User Provide Value</th>
                                            <th>Min</th>
                                            <th>Max</th>
                                            <th>Default</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="parameter in currentModel.Parameters">
                                            <td><span class="badge" ng-click="deletePortParameter(currentModel, $index)">&#x2718</span></td>
                                            <td><input type="text" ng-model="parameter.Name" /></td>
                                            <td>
                                                <ul class="nav nav-pills">
                                                    <li class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                            {{parameter.ParameterTypeName}}
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#" ng-click="updatePortParameterType(parameter, 'Fluid')">Fluid</a></li>
                                                            <li class="dropdown-submenu" disabled ng-repeat="variableCategory in variableTypes">
                                                                <a href="#">{{variableCategory.Name}}</a>
                                                                <ul class="dropdown-menu">
                                                                    <li ng-repeat="variableType in variableCategory.VariableTypes"><a href="#" ng-click="updatePortParameterType(parameter, variableType.Name)">{{variableType.Name}}</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td><input type="checkbox" ng-model="parameter.RequireUserToProvideInitialValue" /></td>
                                            <td><input type="number" ng-model="parameter.OverridenMin" /></td>
                                            <td><input type="number" ng-model="parameter.OverridenMax" /></td>
                                            <td><input type="number" ng-model="parameter.OverridenDefaultValue" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title"><a data-toggle="collapse" href="#conditionPanel">Conditions </a><span class="badge pull-right" ng-click="addCondition(currentModel)">+</span></h1>
                            </div>
                            <div id="conditionPanel" class="panel-body collapse">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Formula</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="condition in currentModel.Conditions">
                                            <td><span class="badge" ng-click="deleteCondition(currentModel, $index)">&#x2718</span></td>
                                            <td><input type="text" ng-model="condition.Name" /></td>
                                            <td><input type="text" ng-model="condition.Formula" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title"><a data-toggle="collapse" href="#variablePanel">Variables </a><span class="badge pull-right" ng-click="addModelVariable(currentModel)">+</span></h1>
                            </div>
                            <div id="variablePanel" class="panel-body collapse table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Condition</th>
                                            <th>Type</th>
                                            <th>Require User Provide Value</th>
                                            <th>Fixed</th>
                                            <th>Min</th>
                                            <th>Max</th>
                                            <th>Default</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="variable in currentModel.Variables">
                                            <td><span class="badge" ng-click="deletePortVariable(currentModel, $index)">&#x2718</span></td>
                                            <td><input type="text" ng-model="variable.Name" /></td>
                                            <td>
                                                <ul class="nav nav-pills">
                                                    <li class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                            {{variable.Condition}} <span class="caret"></span>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#" ng-click="updateConditionalObjectCondition(variable, '')">Unconditional</a></li>
                                                            <li ng-repeat="condition in currentModel.Conditions">
                                                                <a href="#" ng-click="updateConditionalObjectCondition(variable, condition.Name)">{{condition.Name}}</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul class="nav nav-pills">
                                                    <li class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                            {{variable.VariableTypeName}}
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li class="dropdown-submenu" disabled ng-repeat="variableCategory in variableTypes">
                                                                <a href="#">{{variableCategory.Name}}</a>
                                                                <ul class="dropdown-menu">
                                                                    <li ng-repeat="variableType in variableCategory.VariableTypes"><a href="#" ng-click="updatePortVariableType(variable, variableType.Name)">{{variableType.Name}}</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td><input type="checkbox" ng-model="variable.RequireUserToProvideInitialValue" /></td>
                                            <td><input type="checkbox" ng-model="variable.IsFixedValue" /></td>
                                            <td><input type="number" ng-model="variable.OverridenMin" /></td>
                                            <td><input type="number" ng-model="variable.OverridenMax" /></td>
                                            <td><input type="number" ng-model="variable.OverridenDefaultValue" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title"><a data-toggle="collapse" href="#submodelPanel">Submodels </a><span class="badge pull-right" ng-click="addSubmodel(currentModel)">+</span></h1>
                            </div>
                            <div id="submodelPanel" class="panel-body collapse">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th>Name</th>
                                            <th>Condition</th>
                                            <th>Source</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="submodel in currentModel.Submodels">
                                            <td><span class="badge" ng-click="deleteSubmodel(currentModel, $index)">&#x2718</span></td>
                                            <td></td>
                                            <td><input type="text" ng-model="submodel.Name" /></td>
                                            <td>
                                                <ul class="nav nav-pills">
                                                    <li class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                                            {{submodel.Condition}} <span class="caret"></span>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#" ng-click="updateConditionalObjectCondition(submodel, '')">Unconditional</a></li>
                                                            <li ng-repeat="condition in currentModel.Conditions">
                                                                <a href="#" ng-click="updateConditionalObjectCondition(submodel, condition.Name)">{{condition.Name}}</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul class="nav nav-pills">
                                                    <li class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{submodel.ModelTypeName}} <span class="caret"></span></a>
                                                        <ul class="dropdown-menu">
                                                            <li class="dropdown-submenu" disabled ng-repeat="library in libraries | getModels">
                                                                <a href="#">{{library.name}}</a>
                                                                <ul class="dropdown-menu">
                                                                    <li ng-repeat="modelType in library.children"><a href="#" ng-click="updateSubmodelSource(submodel, library.name, modelType)">{{modelType}}</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title"><a data-toggle="collapse" href="#externalPanel">Externals </a><span class="badge pull-right" ng-click="addExternals()">+</span></h1>
                            </div>
                            <div id="externalPanel" class="panel-body collapse">External content…</div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title"><a data-toggle="collapse" href="#parameterConnectionPanel">Parameter connections </a><span class="badge pull-right" ng-click="addParameterConnection(currentModel)">+</span></h1>
                            </div>
                            <div id="parameterConnectionPanel" class="panel-body collapse">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>From</th>
                                            <th>To</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="parameterConnection in currentModel.ParameterConnections">
                                            <td><span class="badge" ng-click="deleteParameterConnection(currentModel, $index)">&#x2718</span></td>
                                            <td>
                                                <ul class="nav nav-pills">
                                                    <li class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{parameterConnection.SourcePath}} <span class="caret"></span></a>
                                                        <ul class="dropdown-menu">
                                                            <li ng-repeat="parameter in currentModel | getSourceParameters : libraries | topLevel">{{parameter}}</li>
                                                            <li class="dropdown-submenu" disabled ng-repeat="portOrModel in currentModel | getSourceParameters : libraries | childLevel">
                                                                <a href="#">{{portOrModel.Name}}</a>
                                                                <ul class="dropdown-menu">
                                                                    <li ng-repeat="parameter in portOrModel.Parameters"><a href="#" ng-click="updatePortSource(port, library.name, portType)">{{parameter}}</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul class="nav nav-pills">
                                                    <li class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{parameterConnection.SinkPath}} <span class="caret"></span></a>
                                                        <ul class="dropdown-menu">
                                                            <li ng-repeat="parameter in currentModel | getSinkParameters : libraries | topLevel">{{parameter}}</li>
                                                            <li class="dropdown-submenu" disabled ng-repeat="portOrModel in currentModel | getSinkParameters : libraries | childLevel">
                                                                <a href="#">{{portOrModel.Name}}</a>
                                                                <ul class="dropdown-menu">
                                                                    <li ng-repeat="parameter in portOrModel.Parameters"><a href="#" ng-click="updatePortSource(port, library.name, portType)">{{parameter}}</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title"><a data-toggle="collapse" href="#variableSharingPanel">Variable sharing </a><span class="badge pull-right" ng-click="addVariableSharing(currentModel)">+</span></h1>
                            </div>
                            <div id="variableSharingPanel" class="panel-body collapse">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Variable 1</th>
                                            <th>Variable 2</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="variableSharing in currentModel.VariableSharings">
                                            <td><span class="badge" ng-click="deleteVariableSharing(currentModel, $index)">&#x2718</span></td>
                                            <td>
                                                <ul class="nav nav-pills">
                                                    <li class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{variableSharing.FirstVariablePath}} <span class="caret"></span></a>
                                                        <ul class="dropdown-menu">
                                                            <li ng-repeat="variable in currentModel | getVariables : libraries | topLevel">{{variable}}</li>
                                                            <li class="dropdown-submenu" disabled ng-repeat="portOrModel in currentModel | getVariables : libraries | childLevel">
                                                                <a href="#">{{portOrModel.Name}}</a>
                                                                <ul class="dropdown-menu">
                                                                    <li ng-repeat="variable in portOrModel.Variables"><a href="#" ng-click="updatePortSource(port, library.name, portType)">{{variable}}</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                <ul class="nav nav-pills">
                                                    <li class="dropdown">
                                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{variableSharing.SecondVariablePath}} <span class="caret"></span></a>
                                                        <ul class="dropdown-menu">
                                                            <li ng-repeat="variable in currentModel | getVariables : libraries | topLevel">{{variable}}</li>
                                                            <li class="dropdown-submenu" disabled ng-repeat="portOrModel in currentModel | getVariables : libraries | childLevel">
                                                                <a href="#">{{portOrModel.Name}}</a>
                                                                <ul class="dropdown-menu">
                                                                    <li ng-repeat="variable in portOrModel.Variables"><a href="#" ng-click="updatePortSource(port, library.name, portType)">{{variable}}</a></li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h1 class="panel-title"><a data-toggle="collapse" href="#modelIconPanel">Icon</a></h1>
                            </div>
                            <div id="modelIconPanel" class="panel-body collapse">Icon content…</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="flowsheets">zxC</section>
    <section id="trees">XZVC</section>
</main>

<footer>
    czxv
</footer>

<div id="all-plants-form" title="All Plants" ng-app="allPlants">
    <form ng-controller="AllPlantController">
        <table class="all-plants">
            <thead>
                <tr><th>Name</th><th>Creator</th><th>Created Time</th><th>Description</th><th></th></tr>
            </thead>
            <tr ng-repeat="s in plants">
                <td><input type="text" ng-model="s.Name" ng-change="updatePlant(s.Id)" /></td>
                <td>{{s.Creator}}</td>
                <td>{{s.CreateDatetime}}</td>
                <td><input type="text" ng-model="s.Description" ng-change="updatePlant(s.Id)" /></td>
                <td><button ng-click="deletePlant(s.Id)">&#x2718</button></td>
            </tr>
        </table>
        <fieldset>
            <legend></legend>
            <input type="button" value="createPlant" ng-click="createPlant()" />
        </fieldset>
    </form>
</div>
