@{
 //   ViewBag.Title = "Web Modeling";
}
@section scripts {
    @*<script type="text/javascript">
        $("#libraryList").accordion();
    </script>*@
    <script type="text/javascript" src="~/Scripts/mine/angularModules.js"></script>
    <script type="text/javascript" src="~/Scripts/mine/allSimulationService.js"></script>
    <script type="text/javascript" src="~/Scripts/mine/allSimulationController.js"></script>
    <script type="text/javascript" src="~/Scripts/mine/librariesService.js"></script>
    <script type="text/javascript" src="~/Scripts/mine/librariesController.js"></script>
    <script type="text/javascript">
        angular.bootstrap(document.getElementById("all-simulation-form"), ['allSimulations']);
    </script>
}
@section styles {
    <link rel="stylesheet" href="~/Content/Mine/all-plants.css"/>
}
<header>
    <a href="#" id="showsimulations">Simulations</a>
</header>

<main>
    <section id="librariesSection" ng-app="libraries">
        <h3>Libraries</h3>
        <div id="libraryList" ng-controller="librariesController">
            <div library-accordion="libraries"></div>
        </div>
    </section>
    <section id="flowsheets">zxC</section>
    <section id="trees">XZVC</section>
</main>

<footer>
    czxv
</footer>

<div id="all-simulation-form" title="Simulations" ng-app="allSimulations">
    <form ng-controller="AllSimulationController">
        <table class="all-plants">
            <thead>
                <tr><th>Name</th><th>Creator</th><th>Created Time</th><th>Description</th><th></th></tr>
            </thead>
            <tr ng-repeat="s in simulations">
                <td><input type="text" ng-model="s.Name" ng-change="updateSimlation(s.Id)"/></td>
                <td>{{s.Creator}}</td>
                <td>{{s.CreateDatetime}}</td>
                <td><input type="text" ng-model="s.Description" ng-change="updateSimlation(s.Id)" /></td>
                <td><button ng-click="deleteSimulation(s.Id)">&#x2718</button></td>
            </tr>
        </table>
        <fieldset>
            <legend></legend>
            <input type="button" value="createSimulation" ng-click="createSimulation()" />
        </fieldset>
    </form>
</div>
